.footer {
    padding: 66px 0 70px;
    background: #000;
    text-align: center;

    @media (max-width: 500px) {
        padding: 38px 0 47px;
    }
    .container {
        max-width: 684px;
    }
    &__title {
        @include title;
        color: #FEFEFE;
        margin-bottom: 22px;
        @media (max-width: 450px) {
            font-size: 14px;
            margin-bottom: 8px;
        }
    }
    &__text {
        color: $text-color-ftr;
        font-family: Roboto;
        font-size: 16px;
        line-height: 1.75;
        margin-bottom: 37px;
        &_additional {
            @media (max-width: 500px) {
                display: none;
            }
        }

        @media (max-width: 450px) {
            font-size: 12px;
            margin-bottom: 26px;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        gap: 6px;
        margin-bottom: 34px;

        @media (max-width: 450px) {
            margin-bottom: 25px;
        }
    }
    &__contact {
        color: $text-color-ftr;
        font-family: Roboto;
        font-size: 16px;
        line-height: 1.62;
        span {
            display: inline-block;
        }

        @media (max-width: 450px) {
            font-size: 14px;
        }
    }
}