.header {
    padding: 45px 0 51px;

    @media (max-width: 768px) {
        padding: 23px 0;
    }
    &__menu {
        display: flex;
        justify-content: center;
        gap: 68px;

        @media (max-width: 1200px) {
            gap: 34px;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }
    &__link {
        display: inline-block;
        color: #4E4E4E;
        font-family: Roboto;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 2;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: .3s;
        &:hover {
            color: #57A4A4;
        }
    }
    &__mobile {
        position: relative;
        display: none;
        text-align: right;

        @media (max-width: 768px) {
            display: block;
        }
    }
    &__burger {
        height: 37px;
        padding: 14px;
        background: #000;
        &_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2px;
        }
    }
    &__stick {
        display: block;
        width: 17px;
        height: 2px;
        background: #fff;
        position: relative;
    }
    &__drop-down {
        display: block;
        overflow: hidden;
        position: absolute;
        right: 0;
        text-align: left;
        background: #F5F5F5;
    }
    &__option {
        &:hover {
            background: #E5E5E5;
        }
        &-link {
            padding: 4px 86px 4px 12px;
            color: #4E4E4E;
            font-family: Roboto;
            font-size: 11px;
            line-height: 2;
            letter-spacing: 1px;
            text-transform: uppercase;
            display: block;
            &_active {
                color: #57A4A4;
            }
        }
    }
}

.hide {
    display: none;
}

.rotate-left {
    transform: rotate(-45deg);
    position: relative;
    top: 2px;
}
.rotate-right {
    transform: rotate(45deg);
    position: relative;
    bottom: 1px;
}