.posts {
    padding: 69px 0;

    @media (max-width: 768px) {
        padding: 38px 0;
    }
    &__title {
        @include title;
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(140px, auto);
        gap: 30px 55px;

        @media (max-width: 1200px) {
            grid-template-columns: minmax(0, 556px);
            gap: 28px;
        }
    }
    &__item {
        display: flex;
        gap: 20px;

        @media (max-width: 480px) {
            flex-direction: column;
            gap: 11px;
        }
        &:last-child {
            @media (max-width: 768px) {
                display: none;
            }
        }
        img {
            width: 160px;
        }
    }
    &__heading {
        color: $title-color;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87;

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
    &__caption {
        color: #7C7C7C;
        font-family: Roboto;
        font-size: 12px;
        line-height: 1.67;
        display: inline-block;
        margin-bottom: 13px;

        @media (max-width: 768px) {
            font-size: 11px;
            margin-bottom: 0;
        }
    }
    &__description {
        color: #5C5C5C;
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.85;

        @media (max-width: 480px) {
            display: none;
        }
    }

}