.shots {
    padding: 47px 0 49px;
    background: rgba(0, 0, 0, 0.029);
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        @media (max-width: 602px) {
            margin-bottom: 13px;
        }
    }
    &__title {
        @include title;
        margin-bottom: 0;

        @media (max-width: 602px) {
            font-size: 14px;
        }
    }
    &__link {
        @include title;
        margin-bottom: 0;
        font-size: 13px;

        @media (max-width: 500px) {
            display: none;
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    &__item {
        img {
            width: 100%;
        }
        &:last-child {
            @media (max-width: 890px) {
                display: none;
            }
        }
        &:nth-child(2) {
            @media (max-width: 602px) {
                display: none;
            }
        }
        &:nth-child(3) {
            @media (max-width: 500px) {
                display: none;
            }
        }
    }
}