@import 'base/reset';
@import 'base/variables';
@import 'base/mixins';

.container {
    max-width: 1170px;
    margin: 0 auto;

    @media (max-width: 1200px) {
        max-width: 768px;
        padding: 0 10px;
    }

    @media (max-width: 768px) {
        padding: 0 25px;
    }
}

@import 'components/header';
@import 'components/banner';
@import 'components/posts';
@import 'components/shots';
@import 'components/footer';

